package pages

import "nextgen/templates/dashboard/dashboardcomponents"

templ CampaignPage(layoutProp dashboardcomponents.LayoutProp) {
	@dashboardcomponents.Layout(CampaignPageContent(), layoutProp )
}

templ CampaignPageContent() {
}
