package pages

import "nextgen/templates/dashboard/dashboardcomponents"

templ LoyaltyPage(layoutProp dashboardcomponents.LayoutProp) {
	@dashboardcomponents.Layout(LoyaltyPageContent(), layoutProp )
}

templ LoyaltyPageContent() {
}
