package components

type InputFileForUserProp struct {
	Name  string
	Label string
}

templ InputFileForUser(prop InputFileForUserProp) {
	<div>
		<label for={ prop.Name } class="block text-sm font-medium leading-6 text-gray-900  sm:pt-1.5">{ prop.Label }</label>
		<div class="mt-2 sm:col-span-2 sm:mt-0">
			<input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50  focus:outline-none " id={ prop.Name } type="file"/>
		</div>
	</div>
}
